.dashboard {
    @include window($primary-background);
    @include flex-row(center, center);
}

.login-holder {
    @include flex-column(center, center);
    @include box-shadow;
    height: 30%;
    width: 50%;
    background: $secondary-background;
    border-radius: 10px;
    .login-title {
        height: 20%;
        width: 100%;
        @include flex-column(center, center);
        background: $secondary-color;
        color: $primary-color;
    }
    .auth-holder {
        width: 80%;
        height: 100%;
        @include flex-column(center, center);
        .login-input-holder {
            height: 75%;
            width: 100%;
            @include flex-column(space-evenly, center);
        }
        .login-button-holder {
            height: 25%;
            width: 100%;
            @include flex-row(center, center);
        }
    }
}
