@import "./variables.scss";
@import "./Components/Dashboard/dashboard.scss";
@import "./Components/Home/home.scss";
@import "./Components/Nav/nav.scss";
@import "./Components/HostGame/host-game.scss";
@import "./Components/JoinGame/join-game.scss";
@import "./Components/ActiveGames/active-games.scss";

* {
    box-sizing: border-box;
    margin: 0;
    overflow-x: hidden;
}

.swal2-icon {
    width: 5em !important;
    height: 5em !important;
    border-width: .25em !important;
    overflow: hidden !important;
    
}