.nav {
    height: 8vh;
    width: 100vw;
    @include flex-row(space-between, center);
    padding: 0 30px;
    background: $secondary-background;
    font-size: 2rem;
    i {
        cursor: pointer;
        color: $secondary-color;
        &:visited {
            color: $secondary-color;
        }
        &:hover {
            color: $primary-color;
        }
    }
}